body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(1, 1, 75);
    padding-bottom: 5px;
}

.links {
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px 60px;   /* space inside the border */
    border: 2px;
    margin-top: 21px;
    border-radius: 40px;

    width: 60%;
    margin-left: auto;
    margin-right: auto;   /* keeps it centered horizontally */
    text-align: center;
    background-color: pink;
}

.content h1 {
    margin: 2px;
}

.content p {
    margin: 2px;
}